<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProperty scope="context" name="applicationName" source="spring.application.name"/>
    <logger name="org.springframework.web" level="WARN"/>

    <property name="LOG_PATH" value="/data/apps/logs/${applicationName}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [${applicationName}, %X{X-B3-TraceId:--}, %X{X-B3-SpanId:--}, %X{X-B3-ParentSpanId:--}] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${applicationName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%X{X-B3-TraceId:--}] - [%thread] %-5level %class - %msg%n</pattern>
        </encoder>
    </appender>
    <!--<appender name="redisLog" class="com.zj.framework.log.redis.RedisAppender">-->
    <!--<host>10.241.108.184</host>-->
    <!--<port>6379</port>-->
    <!--<key>vv-shop</key>-->
    <!--<doLog>${allowRedisLog}</doLog>-->
    <!--<type>vv-shop</type>-->
    <!--<tags>${profile}</tags>-->
    <!--<additionalField>-->
    <!--<key>memberId</key>-->
    <!--<value>@{memberId:-}</value>-->
    <!--</additionalField>-->
    <!--<additionalField>-->
    <!--<key>traceId</key>-->
    <!--<value>@{X-B3-TraceId:-}</value>-->
    <!--</additionalField>-->
    <!--<additionalField>-->
    <!--<key>spanId</key>-->
    <!--<value>@{X-B3-SpanId:-}</value>-->
    <!--</additionalField>-->
    <!--<additionalField>-->
    <!--<key>app</key>-->
    <!--<value>${applicationName}</value>-->
    <!--</additionalField>-->
    <!--</appender>-->
    <!--<appender name="asyncRedisLog" class="ch.qos.logback.classic.AsyncAppender">-->
    <!--&lt;!&ndash; 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 &ndash;&gt;-->
    <!--<discardingThreshold>0</discardingThreshold>-->
    <!--&lt;!&ndash; 更改默认的队列的深度,该值会影响性能.默认值为256 &ndash;&gt;-->
    <!--<queueSize>1024</queueSize>-->
    <!--<appender-ref ref="redisLog"/>-->
    <!--</appender>-->
    <root level="INFO">
        <!--<appender-ref ref="asyncRedisLog"/>-->
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>